<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="icon" href="/images/logo.png">
  
  <link rel="stylesheet" href="/css/style.css">
</head> 
<body>

  <div class="container">
    <form method="POST" action="/logout">
      <button id="logout" type="submit">Logout</button>
    </form>
    
      <div class="todo-app">
            <h2><%= name %>'s To-Do List<img src="/images/logo.png" alt="todolisticon"></h2>
            <div class="row">
              <form action="/addTask" method="post">
                <input type="hidden" name="name" value='<%= name %>' >
              <input type="text" name="task" id="input-box" placeholder="Add your text">
              <button type="submit">Add</button>
              </form>
            </div>
              
                <% tasks.forEach((task)=>{ %>
                  
                <div class="eachTask">
                  <form action="/checked" method="post" >
                  <div class="item">
                      <input type="hidden" name="listname" value="<%= name %>">
                      <input type="checkbox" name="chck" value="<%= task._id %>" onchange="this.form.submit()" id="chck">
                      
                    <p><%= task.name %></p>
                  </div>
                  </form>
                </div>

                <% }) %>
                              
            
    </div>
  </div>

  <script src = "/js/script.js"> </script>
  
</body>
</html>    